<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burger Me!</title>
</head>
<body>
  <h1>Burger Me!</h1>

<h2>Choose a burger to devour!</h2>




<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that you've demolished:</h2>


{{!-- Per Chris I'm sudocoding what needs to be done and turning in what I have.
      I don't understand why the above doesn't display what I need. Based on the activities it should work but I've obviously missed something. Current code was referenced from in class activities. 
      -- Make a section for devoured burgers and section to add burgers
      -- Add delete button to devour burger
      -- Add some styling to make it not look like 1990s
      -- Redeploy to Heroku
       --}}
{{!-- <ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<
{{!-- https://git.heroku.com/arcane-hollows-47417.git --}}